@use "../mixins/breakpoints" as *;
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
  2. Remove default margin
*/

* {
	margin: 0;
}
body {
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
	font-size: 0.938rem;
	line-height: 1.563rem;
}

/*
  5. Improve media defaults
*/

img {
	width: 100%;
	max-width: 100%;
	display: block;
	height: 100%;
	object-fit: fill;
}
button {
	padding: 0;
	border: none;
	cursor: pointer;
}

ul {
	padding: 0;
	list-style: none;
	text-decoration: none;
}
a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

// Headings
h1 {
	font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem); // 40px
	letter-spacing: 4.17px;
	line-height: 48px;
	text-transform: uppercase;
	@include for-phone-only {
		letter-spacing: 3.33px;
		line-height: 40px;
	}
}

h2 {
	font-size: 1.5rem; // 24px
	line-height: 25px;
}
h3 {
	font-size: 1.125rem; // 18px
	line-height: 25px;
}
h4 {
	font-size: 0.75rem; // 12px
	letter-spacing: 2px;
	line-height: 16px;
	text-transform: uppercase;
}
